branches:
  - master
  - next
  - next-major
  - feature-.*
  - name: alpha
    prerelease: true
  - name: beta
    prerelease: true
debug: true
ci: true
dryRun: false
plugins:
  - "@semantic-release/commit-analyzer"
  - "@semantic-release/release-notes-generator"
  - "@semantic-release/github"
